<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licab | LGU</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-info-subtle"> 
    <!-- navbar  -->
    <nav class="navbar navbar-expand-md fs-4 text-white fixed-top" style="height: 90px; background: linear-gradient(to right, #009933 0%, #0a5523 87%, #011d0a);">
        <button class="navbar-toggler justify-content-end bg-secondary border-black " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/index.html"><i>Home</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/components/gallery.html"><i>Gallery</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/components/activity.html"><i>Activity</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/components/contactus.html"><i>Contact Us</i></a>
        </li>
      </ul>
    </div>
  </nav>
      <!-- licab logo -->
    <div>
      <img src="/img/licab2.png" alt="Image" style="width: 100%; margin-top: 100px;"></img>
    </div><br><br>
    <div class="container-fluid">
        <h1 class="text-center">Image Gallery</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/karitonn1.jpg" alt="Image 1" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/karitonn2.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/karitonn3.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/karitonn4.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/karitonn5.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton6.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton7.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton8.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton9.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton10.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton11.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton12.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton13.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton14.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton15.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton16.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton17.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton18.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton19.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton20.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton21.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton22.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton23.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton24.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton25.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton26.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton27.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton28.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton29.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton30.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton31.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton32.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton33.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton34.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/kariton35.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 mb-3 p-5">
                <a href="#" data-toggle="modal" data-target="#imageModal" class="clickable-img">
                    <img src="/components/gallery-img/karitonn3.jpg" alt="Image 2" class="img-fluid">
                </a>
            </div>
            <!-- Repeat for other images -->
        </div>
    </div>

    <!-- Modal HTML code -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="" class="img-fluid" id="modalImage">
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.clickable-img').click(function() {
                var imgSrc = $(this).find('img').attr('src');
                $('#modalImage').attr('src', imgSrc);
                $('#imageModal').modal('show'); // Open the modal
            });
        });
    </script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="/JS/index.js"></script>
     <script src="path-to-jquery/jquery.min.js"></script>
</body>
<div class="footer">
    <p>&copy; 2023 All right reserved By Xtian</p>
  </div>
</html>
